body{
    background-color: black;
}
.btn1{
    background-color: goldenrod;
    color: white;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid white;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    font-size: larger;
}
.btn2{
    background-color: silver;
    color: white;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid white;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    font-size: larger;
}
h1{
    color: goldenrod;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.d-1{
    display: flex;
    justify-content: center;
}
.d-2{
    display: flex;
    justify-content: center;
    padding-left: 20px;
}
h2{
    color: silver;
    text-align: center;
}
